Repository isaacporras/SOAGIT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kennethGHS, @m-herrera, @JassonRM

.github/CODEOWNERS:

/frontend @kennethGHS @m-herrera
/java-rest-api @kennethGHS @JassonRM
/ml-library @kennethGHS @m-herrera
/api-gateway @JassonRM @m-herrera

JIRA-2: remove java duplicate
   java-rest-api/.idea/workspace.xml
Owners: none

JIRA-004: add awesome ml feature
  ml-library/ml.py
Owners: @kennethGHS, @m-herrera

Modifies file
  java-rest-api/.idea/.name
  java-rest-api/src/com/company/Main.java
Owners: @kennethGHS, @JassonRM

Make changes requested
  ml-library/lib.py
  ml-library/ml.py
  ml-library/otherfile.py
Owners: @kennethGHS, @m-herrera

Updates java
  java-rest-api/src/com/company/Main.java
Owners: @kennethGHS, @JassonRM

JIRA-666: add files
  java-rest-api/src/com/company/Test.java
Owners: @kennethGHS, @JassonRM

Mis cambios
  java-rest-api/src/com/company/Main.java
Owners: @kennethGHS, @JassonRM
